/* @TODO Download */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

body {
  background: #ff564c;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.unimage {
  height: 100%;
  -webkit-app-region: no-drag;
}

.red {
  color:red;
}

.white {
  color:white;
}

@keyframes harlem {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  20% {
    transform: scale(1.03, 1);
    -webkit-transform: scale(1.03, 1);
    -moz-transform: scale(1.03, 1);
    -o-transform: scale(1.03, 1);
    -ms-transform: scale(1.03, 1);
  }
  40% {
    transform: scale(0.97, 1);
    -webkit-transform: scale(0.97, 1);
    -moz-transform: scale(0.97, 1);
    -o-transform: scale(0.97, 1);
    -ms-transform: scale(0.97, 1);
  }
  60% {
    transform: scale(1.01, 1);
    -webkit-transform: scale(1.01, 1);
    -moz-transform: scale(1.01, 1);
    -o-transform: scale(1.01, 1);
    -ms-transform: scale(1.01, 1);
  }
  80% {
    transform: scale(0.99, 1);
    -webkit-transform: scale(0.99, 1);
    -moz-transform: scale(0.99, 1);
    -o-transform: scale(0.99, 1);
    -ms-transform: scale(0.99, 1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2.5px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #777;
}

h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #6d6d6d;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #f0f0f0;
}

.screen {
  background-color: black;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  overflow: hidden;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}


label {
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

.header {
  display: inline-flex;
}

input[type=checkbox] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
}

label.main:before {
  position: absolute;
  top: 23px;
  left: 23px;
  font-family: FontAwesome;
  content: '\f0c9';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.1s ease-in;
  
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

label.main:hover:before {
  color: #bbb;
}

label.main2:before {
  position: absolute;
  top: 23px;
  left: 56px;
  font-family: FontAwesome;
  content: '\f005';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.1s ease-in;
  
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

label.main2:hover:before {
  color: #bbb;
}

label.main3:before {
  position: absolute;
  top: 23px;
  left: 89px;
  font-family: FontAwesome;
  content: '\f1da';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.1s ease-in;
  
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

label.main3:hover:before {
  color: #bbb;
}

label.activeLabel:before {
  color: darkorange;
}

.spanLabel {
  color: #959595;
  cursor: pointer;
  z-index: 10;
  transition: all 0.1s ease-in;
  float: right;
}

.screen > #magicButton:checked ~ label.main:before {
  color: #ff564c;
  transition: all 0.1s ease-in;
}

.coverImage {
  background-size:cover;
  background-repeat: no-repeat;
  width: 366px;
  height: 366px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.pauseImage {
  background-image: black !important;
}

.screen > #magicButton:checked ~ .coverImage {
  transition: all 0.3s ease-in;
}

.close:before {
  position: absolute;
  top: 23px;
  right: 23px;
  font-family: FontAwesome;
  content: '\f00d';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
  -webkit-user-select: text;
  -webkit-app-region: no-drag;
}

.close:hover:before {
  color: #bbb;
}

.drag {
  -webkit-app-region: drag;
}

.drag:before {
  position: absolute;
  top: 23px;
  right: 100px;
  font-family: FontAwesome;
  content: '\f0b2';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.drag:hover:before {
  color: #bbb;
}

.min:before {
  position: absolute;
  top: 23px;
  right: 60px;
  font-family: FontAwesome;
  content: '\f068';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

.min:hover:before {
  color: #bbb;
}

.bodyPlayer {
  position: absolute;
  top: 366px;
  left: 0;
  margin: 0;
  padding: 0;
  height: 286px;
  width: 366px;
  background: #111;
  transition: all 0.3s ease-in;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

.screen > #magicButton:checked ~ .bodyPlayer {
  height: 470px;
  left: 0;
  top: 180px;
  transition: all 0.3s ease-in;
}

.list {
  border-spacing: 0px 2px;
  width: 342px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 378px;
  left: 12px;
  transform-origin: 0% 0%;
  transform: scale(0.1, 0.1);
  transition: all 0.3s ease-in;
}

.list tr {
  transform-origin: 0% 50%;
  height: 50px;
  text-align: center;
  background: #1d1d1d;
  text-indent: 8px;
}

.list tr:hover {
  background: #222;
  cursor: pointer;
}

.title {
  width: 215px;
  text-align: left;
  text-indent: 15px;
  transition: all 0.11s ease-in;
}

.list tr:hover .title {
  padding-left: 5px;
  width: 210px;
  transition: all 0.11s ease-in;
}

.screen > #magicButton:checked ~ .list {
  top: 192px;
  left: 12px;
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ table tr:nth-child(1) {
  opacity: 1;
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.185s;
}

.screen > #magicButton:checked ~ table tr:nth-child(2) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.2s;
}

.screen > #magicButton:checked ~ table tr:nth-child(3) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.215s;
}

.screen > #magicButton:checked ~ table tr:nth-child(4) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.23s;
}

.screen > #magicButton:checked ~ table tr:nth-child(5) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.245s;
}

.screen > #magicButton:checked ~ table tr:nth-child(6) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.26s;
}

.screen > #magicButton:checked ~ table tr:nth-child(7) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.275s;
}

.screen > #magicButton:checked ~ table tr:nth-child(8) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.29s;
}

.screen > #magicButton:checked ~ table tr:nth-child(9) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.305s;
}

.bar {
  background-size: 100%;
  width: 320px;
  height: 21px;
  position: absolute;
  top: 407px;
  left: 23px;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ .bar {
  top: 119px;
  left: 126px;
  transform: scale(0.6875, 0.6875);
  transition: all 0.3s ease-in;
}

.info {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 400px;
  transition: all 0.3s ease-in;
  display: block;
  -webkit-user-select: text;
  -webkit-app-region: no-drag;
}

.screen > #magicButton:checked ~ .info {
  display:none;
}

.player {
  background: none;
  text-align: center;
  font-family: FontAwesome;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  width: 216px;
  height: 35px;
  position: absolute;
  bottom: 65px;
  left: 48%;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: all 0.3s ease-in;
  border-spacing: 0;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

.player td {
  width: 72px;
}

.backward:before {
  content: "\f04a";
  cursor: pointer;
  transition: all 0.15s linear;
}

.play:before {
  content: "\f04b";
  cursor: pointer;
  transition: all 0.15s linear;
}

.forward:before {
  content: "\f04e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.backward:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.play:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.forward:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

td > #play:checked ~ label.play:before {
  content: "\f04c";
  transition: all 0.15s linear;
}

.screen > #magicButton:checked ~ .player {
  bottom: 4px;
  left: -44px;
  transform: scale(0.45, 0.45);
  transition: all 0.3s ease-in;
}

.shadow {
  background: rgba(17, 17, 17, 0.8);
  width: 366px;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 0;
  box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}

.footer {
  background: none;
  font-family: FontAwesome;
  color: #6d6d6d;
  font-size: 15px;
  line-height: 15px;
  height: 45px;
  width: 360px;
  position: absolute;
  bottom: 10px;
  left: 23px;
  z-index: 20;
  transition: all 0.15s linear;
  transition: bottom 0.3s linear;
}

.love:before {
  content: "\f08a";
  cursor: pointer;
  transition: all 0.15s linear;
}

.shuffle:before {
  content: "\f074";
  cursor: pointer;
  transition: all 0.15s linear;
}

.repeat:before {
  content: "\f01e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.options:before {
  content: "\f141";
  cursor: pointer;
  transition: all 0.15s linear;
}

.love:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.shuffle:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.repeat:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.options:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

td > #love:checked ~ label.love:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}
td > .favorite:checked ~ label.love:before {
  font-family: FontAwesome;
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #shuffle:checked ~ label.shuffle:before {
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #repeat:checked ~ label.repeat:before {
  color: #ff564c;
  transition: all 0.15s linear;
}

.screen > #magicButton:checked ~ .footer {
  bottom: -60px;
  transition: all 0.3s ease-in;
}

#love2 ~ label.love:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

.current {
  position: absolute;
  right: 23px;
  bottom: -60px;
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ .current {
  bottom: 17px;
  transition: all 0.3s ease-in;
}

audio {
  visibility: hidden;
}

input[type="number"] {
  min-width: 15%;
  display: inline-block;
  position: absolute;
  top: 10px;
  margin-left: 5%;
  background: transparent;
  box-shadow: none;
  border: none;
  font-size: 18px;
  color: orange;
  text-align: center;
}

input[type="number"] :focus, :active {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-top: 20px;
  width: 80%;
  background: transparent;
}

input[type="range"] :focus, :active {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: linear-gradient(90deg, orange 0%, darkOrange 33%, orangeRed 66%);
  height: 3px;
  position: relative;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff564c;
  outline: none;
  height: 25px;
  width: 25px;
  position: relative;
  top: -10px;
  border-radius: 50%;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.ra-current-img {
  position: absolute;
  bottom: 100px;
  left: 50px
}

.ra-current-name {
  position: absolute;
  bottom: 120px;
  left: 50px;
  background-color: black;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}




/* MODAL LISTING */
.modal-container {
  margin: 60px auto;
  padding-top: 0px;
  position: relative;
  width: 160px;
  background-color: black;
  /*z-index: 100;*/
}
.modal-container .modal-btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease-in;
}
.modal-container .modal-btn:hover {
  background: #365690;
}
.modal-container .modal-content,
.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  background-color: black;
}
.modal-container .modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background-color: black;
  font-size: 16px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.modal-container .modal-close:hover {
  color: #333;
}
.modal-container .modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446CB3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 9px;
  font-weight: normal;
}
.modal-container .modal-content-btn:hover {
  color: #fff;
  background: #365690;
}
.modal-container #modal-toggle {
  display: none;
}
.modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
  /*background-color: rgba(0, 0, 0, 0.6);*/
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: black;
  max-width: 325px;
  width: 290px;
  height: 290px;
  padding: 10px 30px;
  position: fixed;
  top: 12%;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    left: 0;
  }
}


/* LIST TEST */


#scroll-container {
  max-width: 100%;
  margin: auto;
  height: 75vh;
  top: 5vh;
  position: relative;
  max-height: 220px;
  min-height: 220px;
  color: white;
  margin-right: 10px;
}

.wrap-container {
  position: relative;
  min-height: 220px;
  max-height: 220px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  /* background: #eee; */
  overflow: auto;
  padding-right: 20px;
  mask: url(#masking);
}

.wrap-container::-webkit-scrollbar {
  width: 7px;
}

.wrap-container::-webkit-scrollbar-track {
  background:rgba(85, 71, 71, 0.829); 
  border-radius: 5px;
}

.wrap-container::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background: darkorange;
  border-radius: 5px;
}

.wrap-container ul {
  list-style: none;
  position: relative;
  transition: transform .3s;
}
.wrap-container ul, .wrap-container ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}
.wrap-container ul li {
  height: 50px;
  line-height: 50px;
  transition: transform .3s;
  overflow: hidden;
}
.wrap-container ul li.active .item {
  transform: scale(1.9);
  color: darkOrange;
}
.wrap-container ul li:hover .item {
  transform: scale(1.9);
  color: darkOrange;
}
.wrap-container ul li .item {
  position: relative;
  transition: transform 200ms;
  display: inline-block;
}


/* LIST HISTORY */


#scroll-container2 {
  max-width: 100%;
  margin: auto;
  height: 75vh;
  top: 5vh;
  position: relative;
  max-height: 270px;
  min-height: 270px;
  color: white;
  margin-right: 10px;
}

.wrap-container2 {
  position: relative;
  min-height: 270px;
  max-height: 270px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  padding-right: 20px;
  mask: url(#masking);
}

.wrap-container2::-webkit-scrollbar {
  width: 7px;
}

.wrap-container2::-webkit-scrollbar-track {
  background:rgba(85, 71, 71, 0.829); 
  border-radius: 5px;
}

.wrap-container2::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background: darkorange;
  border-radius: 5px;
}

.wrap-container2 ul {
  list-style: none;
  position: relative;
  transition: transform .3s;
}
.wrap-container2 ul, .wrap-container ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}
.wrap-container2 ul li {
  transition: transform .3s;
  overflow: hidden;
}
.wrap-container2 ul li.active .item {
  transform: scale(1.9);
  color: darkOrange;
}
.wrap-container2 ul li .item {
  position: relative;
  transition: transform 200ms;
  display: inline-block;
}


.ra-display-none {
  display: none;
}


/* Search input */
.searchform {
  height: 30px;
  border: 5px solid darkOrange;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}
input#s {
  border: none;
  background: transparent;
  height: 30px;
  width: 0px;
  line-height: 0px;
  vertical-align: top;
  padding: 0px 15px;
  transition: width .5s; 
  position: relative;
  z-index: 2;
  color: #fff;
  width: 210px;
  outline: none;
  margin-right: 30px;
}

.listing {
  position: relative;
}

.listing span {
  cursor: pointer;
}

.iconFavorite {
  color: rgba(85, 71, 71, 0.829);
  position: absolute;
  right: 5px;
  top: 16px;
}

.activeFavorite {
  color: darkorange;
}

.historyItem {
  position: relative;
  height: 70px;
  line-height: 70px;
}


.ra-bar {
  width:100%;
  overflow:hidden
}
.ra-center .w3-bar {
  display:inline-block;
  width:auto
}
.ra-bar .ra-bar-item {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0
}
.ra-bar .ra-dropdown-hover,.ra-bar .ra-dropdown-click {
  position:static;
  float:left
}
.ra-bar .ra-button {
  white-space:normal
}
.ra-bar-block .ra-bar-item {
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  color:white;
  
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}
.ra-item-text {
  width: 90px;
  max-width: 90px;
  height: 90px;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}
.ra-item-img {
  width: 90px;
  height: 90px;
}
.ra-item-artist {
  font-size: 10px;
  word-wrap: break-word;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}
.ra-item-title {
  font-size: 8px;
  word-wrap: break-word;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}